### HELP FILE ###
HELP.md

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### ENV / SECRETS (VERY IMPORTANT 🔥) ###
.env
.env.*
application.properties
application.yml
application-*.properties
application-*.yml

### Keep example config ###
!application-example.properties
!application-example.yml